<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quad_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,244},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,244},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,244},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,244},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,486},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,486},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,486},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,486},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,728},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,728},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,728},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rails.png</string>
            <key>size</key>
            <string>{1212,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c8a07d0d3c947eef7208e93313364a5:ca89ca02a5052ef4669e9dbdc3b62208:caed9621f62caa4457675f5811d58564$</string>
            <key>textureFileName</key>
            <string>rails.png</string>
        </dict>
    </dict>
</plist>
