<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,134},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,680},{34,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,134},{55,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,64}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,680},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{42,64}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,680},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{55,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,64}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,874},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,191},{53,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,62}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,874},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,680},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,874},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,874},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,862},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,680},{34,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,62}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,862},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,214},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,280},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,680},{34,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,346},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,198},{64,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,55}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,59},{55,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,64}}</string>
                <key>sourceSize</key>
                <string>{55,64}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,59},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>quad_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>quad_1_edges.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>quad_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>quad_2_edges.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{216,216}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{216,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,728},{216,216}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{216,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,244},{216,216}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{216,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,462},{216,216}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{216,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,722},{216,216}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{216,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,244},{216,216}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{216,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{210,210}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{210,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,438},{210,210}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{210,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,650},{210,210}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{210,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,438},{210,210}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{210,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,462},{216,216}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{216,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,680},{216,216}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{216,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{216,216}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{216,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,220},{216,216}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{216,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{216,216}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{216,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,438},{216,216}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{216,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,656},{216,216}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{216,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>rail_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,220},{216,216}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{216,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rails.png</string>
            <key>size</key>
            <string>{1322,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a263043eae94281f26bcfeffe09ca80d:d0c3c7d67161f565bb0ff201b7536bfa:caed9621f62caa4457675f5811d58564$</string>
            <key>textureFileName</key>
            <string>rails.png</string>
        </dict>
    </dict>
</plist>
